@import url("blueprint.css");

body {
    font-size: 100%;
}
.content h1 {
    font-size: 18pt;
    font-weight: bold;
}
.content h2 {
    font-size: 16pt;
    font-weight: bold;
}

#header h1 a {
    text-decoration: none;
}

blockquote, pre {
    font-size: 12pt;
    padding: 8px;
}

.highlight-php pre {
    overflow: scroll; 
}
.highlight {
    background-color: #000 !important;
}
#about {
    font-size: 12pt;
}
.post_separator {
    margin-bottom: 20px;
}

p, li {
    font-size: 20px;
}
