{% extends "layout.html" %}

{% set script_files = script_files + ["_static/ga.js"] %}

{% block body %}
    {{ tinkerer_relbar() }}
    {{ timestamp(metadata.date) }}
    {{ body }}

    <div id="donation">
        <script data-gittip-username="beberlei" data-gittip-widget="button" src="//gttp.co/v1.js"></script>
        <script id='fbe2w33'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=beberlei&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbe2w33');</script>
    </div>

    {{ comments }}
{% endblock %}
