body {
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 14pt;
    line-height: 1.6;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway,Tahoma,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.25;
    color: inherit;
}
h1 {
    font-size: 41px;
}
h1 a, h1 a:hover {
    color: #000;
    text-decoration: none;
}
.highlight pre {
    background: #000000;
    color: #FFF;
    font-size: 12pt;
    margin: 0 0 1em;
}
.navbar-dark {
    background-color: #333333;
    color: #fff;
}
.navbar-dark a, .navbar-dark a:hover, .navbar-dark a:visited, .navbar-dark a:active {
    color: #fff;
}
.navbar-dark li a:hover, .navbar-dark li a:active, .navbar-dark li a:visited {
    background-color: #666;
}
p {
    margin: 0 0 1em;
}
.blog-post .panel {
    margin: 3em 0 3em;
}
.metadata {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12pt;
}
.footer {
    margin: 2em 0 2em;
    font-size: 12pt;
}
.post_separator {
    border-bottom: 1px dashed rgba(149, 114, 169, 0.4);
    margin: 2em 0 2em;
}
.tags {
    margin: 0 0 1em;
}
